# Database
DATABASE_URL="postgresql://tenantcore:tenantcore_dev@localhost:5432/tenantcore"

JWT_SECRET="change-this-to-a-long-random-string-minimum-64-chars"

NODE_ENV="development"
PORT=3000

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-east-1"
AWS_S3_BUCKET=""
